<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>热映口碑榜-猫眼电影-一网打尽好电影</title>
    <link rel="stylesheet" href="./css/crunchies.css">
</head>

<body>
    <!-- 1.顶部start -->
    <div class="dh">
        <div class="dh_con">
            <%- include('./layouts/heady.ejs')%>
            <div class="nav">
                <ul class="nav-ul">
                    <li><a href="">首页</a></li>
                    <li><a href="">电影</a></li>
                    <li><a href="">影院</a></li>
                    <li><a href="">演出</a></li>
                    <li><a href="">榜单</a></li>
                    <li><a href="">热点</a></li>
                    <li class="ys"> <a href="/shopping">商城</a></li>
                </ul>
            </div>
            <%- include('./layouts/header.ejs')%>
         
        </div>
    </div>
    <!-- 1.顶部end -->

    <!-- 2.分类部分start -->
    <div class="yz_category">
        <ul class="yz_category_navbar">
            <li>
                <a href="javascript:;" cont="reyin" class="yz_active">热映口碑榜</a>
                <span class="yz_category_navbar_hint yz_active2" style="display:block"></span>
            </li>
            <li>
                <a href="javascript:;" cont="qidai">最受期待榜</a>
            </li>
            <li>
                <a href="javascript:;" cont="guonei">国内票房榜</a>
            </li>
            <li>
                <a href="javascript:;" cont="beimei">北美票房榜</a>
            </li>
            <li>
                <a href="javascript:;" cont="TOP100">TOP100榜</a>
            </li>
        </ul>
    </div>
    <!-- 2.分类部分end -->

    <!-- 3.内容部分start -->
    <div class="yz_container">
        <div class="yz_content">
            <!-- 热映口碑榜 -->
            <div id="reyin" class="yz_wrapper yz_section" style="display:block">
                <div class="yz_main">
                    <p class="yz_update-time">2019-05-12<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将昨日国内热映的影片，按照评分从高到低排列取前10名，每天上午10点更新。相关数据来源于“猫眼专业版”及“猫眼电影库”。</p>
                    <dl class="yz_board-wrapper yz_board-wrapper_1">
                        <!-- 电影信息部分 -->

                    </dl>
                </div>
            </div>
            <!-- 最受期待榜 -->
            <div id="qidai" class="yz_wrapper yz_section">
                <div class="yz_main">
                    <p class="yz_update-time">2019-05-13<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将昨日国内待映影片，按照之前30天的想看数总量从高到低排列取前50名，每天上午10点更新。相关数据来源于“猫眼电影库”。</p>
                    <dl class="yz_board-wrapper yz_board-wrapper_2">

                    </dl>
                </div>
            </div>
            <!-- 国内票房榜 -->
            <div id="guonei" class="yz_wrapper yz_section">
                <div class="yz_main">
                    <p class="yz_update-time">2019-05-13<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将昨日国内热映的影片，按照昨日票房从高到低排列，每天上午10点更新。相关数据来源于“猫眼专业版”。</p>
                    <dl class="yz_board-wrapper yz_board-wrapper_3">

                    </dl>
                </div>
            </div>
            <!-- 北美票房榜 -->
            <div id="beimei" class="yz_wrapper yz_section">
                <div class="yz_main">
                    <p class="yz_update-time">2018-07-16<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将北美地区热映的影片，按照上周末票房从高到低排列，每周一更新。相关数据来源于“猫眼专业版”。</p>
                    <dl class="yz_board-wrapper yz_board-wrapper_4">

                    </dl>
                </div>
            </div>
            <!-- TOP100榜 -->
            <div id="TOP100" class="yz_wrapper yz_section">
                <div class="yz_main">
                    <p class="yz_update-time">2019-05-13<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将猫眼电影库中的经典影片，按照评分和评分人数从高到低综合排序取前100名，每天上午10点更新。相关数据来源于“猫眼电影库”。</p>
                    <dl class="yz_board-wrapper yz_board-wrapper_5">
                        
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- 3.内容部分end -->

    <!-- 4.底部start -->
    <%- include('./layouts/bottom.ejs')%>
    <!-- 4.底部end-->



</body>
<script src="./js/jquery-3.3.1.min.js"></script>
<script src="./js/crunchies.js"></script>
<script src="./lib/art-template/lib/template-web.js"></script>
<!-- 热映口碑榜模板 -->
<%- include('./template/crunchies_template.ejs')%>
<!-- 最受期待榜模板 -->
<%- include('./template/crunchies_qidai_template.ejs')%>
<!-- 国内票房榜模板 -->
<%- include('./template/crunchies_guonei_template.ejs')%>
<!-- 北美票房榜模板 -->
<%- include('./template/crunchies_beimei_template.ejs')%>


</html>