<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>影院-猫眼电影-一网打尽好电影</title>
    <link rel="stylesheet" href="./css/yingyuan.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/All-use-css/heade.css">
    <link rel="shortcut icon" href="./images/bitbug_favicon.ico" type="image/x-icon">

</head>

<body>
    <!-- 全部开始 -->
    <div class='main'>
        <div class="header">
            <!-- 导航 -->
            <div class="dh">
                <div class="dh_con">
                    <%- include('./layouts/heady.ejs')%>
                    <div class="nav">
                        <ul class="nav-ul">
                            <li><a href="/">首页</a></li>
                            <li><a href="/filmClassics">电影</a></li>
                            <li class="ys"><a href="/filmroom" style="color:white">影院</a></li>
                            <li><a href="">演出</a></li>
                            <li><a href="/crunchies">榜单</a></li>
                            <li><a href="">热点</a></li>
                            <li> <a href="/shopping">商城</a></li>
                        </ul>
                    </div>
                    <%- include('./layouts/header.ejs')%>

                </div>
            </div>
            <!-- 导航结束 -->


            <!-- 导航栏模块 -->
            <div class="container" id="app" class="page-cinemas/list">
                <div class="search-top">
                    <ul class="tags-lines">
                        <li class="brand">
                            <div class="brand-title">品牌:</div>
                            <ul class="tags a">
                                <!-- <li class="active">
                           <a href="javascript:;">全部</a>
                       </li>
                       <li class="">
                           <a>大地影院</a>
                       </li>
                       <li class="">
                           <a>幸福蓝海国际影城</a>
                       </li>
                       <li class="">
                           <a>SFC上影影城</a>
                       </li>
                       <li class="">
                           <a>其他</a>
                       </li> -->
                            </ul>
                        </li>
                        <li class="brand brand-border">
                            <div class="brand-title">行政区:</div>
                            <ul class="tags b">
                                <!-- <li class="active">
                           <a>全部</a>
                       </li>
                       <li class="">
                           <a>地铁附近</a>
                       </li>
                       <li class="">
                           <a>三匹马商业广场</a>
                       </li>
                       <li class="">
                           <a>乐天玛特二店</a>
                       </li>
                       <li class="">
                           <a>万德福</a>
                       </li>
                       <li class="">
                           <a>海宁皮革城</a>
                       </li> -->
                            </ul>
                        </li>
                        <li class="brand brand-border">
                            <div class="brand-title">特殊厅:</div>
                            <ul class="tags c">

                            </ul>
                </div>
                <!-- 中部影院列表start -->
                <div class="film-list">
                    <h2 class="film-list-header">影院列表</h2>
                    <div class="e">

                    </div>
                    <!-- <div class=""> -->
                    <!-- 列表内容开始 -->
                    <!-- 大地影院 -->
                    <!-- <div class="film-border">
                        <div class="film-info">
                            <a href="" class="film-name">大地影院(万顺店)</a>
                            <p class="film-address">地址:沭阳县常州路万顺帝景天成7#A401号</p>
                        </div>
                        <div class="choose-down">
                            <a href="">选座购票</a>
                        </div>
                        <div class="film-price">
                            <span class="yuan red">¥</span>
                            <span class="price-num red"><span class="num"></span></span> -->
                    <!-- <span>起</span>
                        </div>
                        
                 </div> -->
                    <!-- 新视界国际影城 -->
                    <!-- <div class="film-border">
                        <div class="film-info">
                            <a href="" class="film-name">新视界国际影城</a>
                            <p class="film-address">地址:沭阳县人民中路108号(原沭阳影剧院)</p>
                        </div>
                        <div class="choose-down">
                            <a href="">选座购票</a>
                        </div>
                        <div class="film-price">
                            <span class="yuan red">¥</span>
                            <span class="price-num red"><span class="num"></span></span>
                            <span>起</span>
                        </div>
                 </div> -->

                    <!-- SFC上影影城 -->
                    <!-- <div class="film-border">
                        <div class="film-info">
                            <a href="" class="film-name">SFC上影影城(沭阳店)</a>
                            <p class="film-address">地址:沭阳县台州南路1号乐之地商业中心广场4楼</p>
                        </div>
                        <div class="choose-down">
                            <a href="">选座购票</a>
                        </div>
                        <div class="film-price">
                            <span class="yuan red">¥</span>
                            <span class="price-num red"><span class="num"></span></span>
                            <span>起</span>
                        </div>
                 </div> -->

                    <!-- 华夏国际影城 -->
                    <!-- <div class="film-border">
                        <div class="film-info">
                            <a href="" class="film-name">华夏国际影城</a>
                            <p class="film-address">地址:沭阳县新玛特国际购物中心(万德福4楼华夏国际影城)</p>
                        </div>
                        <div class="choose-down">
                            <a href="">选座购票</a>
                        </div>
                        <div class="film-price">
                            <span class="yuan red">¥</span>
                            <span class="price-num red"><span class="num"></span></span>
                            <span>起</span>
                        </div>              
                 </div> -->

                    <!-- 沭阳大都会智能影城 -->
                    <!-- <div class="film-border">
                        <div class="film-info">
                            <a href="" class="film-name">沭阳大都会智能影城</a>
                            <p class="film-address">地址:沭阳县乐天玛特一店三楼肯德基南80米(肯德基南100米)</p>
                        </div>
                        <div class="choose-down">
                            <a href="">选座购票</a>
                        </div>
                        <div class="film-price">
                            <span class="yuan red">¥</span>
                            <span class="price-num red"><span class="num"></span></span>
                            <span>起</span>
                        </div>                     
                 </div> -->

                    <!-- 沭阳时尚国际影城 -->
                    <!-- <div class="film-border">
                        <div class="film-info">
                            <a href="" class="film-name">沭阳时尚国际影城</a>
                            <p class="film-address">地址:沭阳县人民中路69号乐天马特一店4楼</p>
                        </div>
                        <div class="choose-down">
                            <a href="">选座购票</a>
                        </div>
                        <div class="film-price">
                            <span class="yuan red">¥</span>
                            <span class="price-num red"><span class="num"></span></span>
                            <span>起</span>
                        </div>
                 </div> -->

                    <!-- 幸福蓝海国际影城 -->
                    <!-- <div class="film-border">
                        <div class="film-info">
                            <a href="" class="film-name">幸福蓝海国际影城</a>
                            <p class="film-address">地址:沭阳县人民路16号三匹马商业广场1号楼5层（北京北路口）</p>
                        </div>
                        <div class="choose-down">
                            <a href="">选座购票</a>
                        </div>
                        <div class="film-price">
                            <span class="yuan red">¥</span>
                            <span class="price-num red"><span class="num"></span></span>
                            <span>起</span>
                        </div>
                 </div> -->

                    <!-- 中部影视列表结束 -->
                </div>

                <!-- 底部信息栏开始 -->
                <div class="footer">
                    <p class="friendly-links">
                        关于猫眼 :
                        <a>关于我们</a>
                        <span></span>
                        <a>管理团队</a>
                        <span></span>
                        <a>投资者关系</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        友情链接 :
                        <a>美团网</a>
                        <span></span>
                        <a>格瓦拉</a>
                        <span></span>
                        <a>美团下载</a>
                        <span></span>
                        <a>欢喜首映</a>
                    </p>
                    <p class="friendly-links">
                        商务合作邮箱：v@maoyan.com
                        客服电话：10105335
                        违法和不良信息举报电话：4006018900
                        <br />
                        投诉举报邮箱：tousujubao@meituan.com
                        舞弊线索举报邮箱：wubijubao@maoyan.com
                    </p>
                    <p>
                        &copy;2016
                        猫眼电影 maoyan.com
                        <abbr>京ICP证160733号</a>
                            <a>京ICP备16022489号-1</a>
                            <a>京公网安备 11010102003232号</a>
                            <a>营许可证</a>
                            <a>电子公告服务规则</a>
                    </p>
                    <p>北京猫眼文化传媒有限公司</p>
                </div>
                <!-- 底部信息栏结束 -->

                <!-- 全部模块结束 -->
            </div>




            <script src="./lib/art-template/lib/template-web.js"></script>
            <script src="./lib/jquery/dist/jquery.js"></script>
            <script src="./js/filmroom.js"></script>
            <script src="./js/filmroomrender.js"></script>
            <%-include('./template/filmroom.ejs') %>
            <%-include('./template/brandroom.ejs')%>
            <%-include('./template/districtroom.ejs')%>
            <%-include('./template/specialroom.ejs')%>

</body>

</html>