<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>大地影院(万顺店)-猫眼电影</title>

  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/moviechoose.css">
  <link rel="stylesheet" href="./css/All-use-css/heade.css">
  <link rel="shortcut icon" href="./images/bitbug_favicon.ico" type="image/x-icon">
  <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=IX2BZ-TTGWR-VVLWY-W4NCS-QBSNZ-IAF7P"></script>
</head>

<body onload="init()">
  <!-- 导航 -->
  <div class="dh">
    <div class="dh_con">
      <%- include('./layouts/heady.ejs')%>
      <div class="nav">
        <ul class="nav-ul">
          <li><a href="/">首页</a></li>
          <li><a href="/filmClassics">电影</a></li>
          <li class="ys"><a href="/filmroom" style="color:white">影院</a></li>
          <li><a href="">演出</a></li>
          <li><a href="/crunchies">榜单</a></li>
          <li><a href="">热点</a></li>
          <li> <a href="/shopping">商城</a></li>
        </ul>
      </div>
      <%- include('./layouts/header.ejs')%>

    </div>
  </div>
  <!-- 导航结束 -->
  <!-- 影院信息 -->
  <div class="banner cinema-banner">
    <div class="wrapper clearfix">
      <div class="cinema-left">
        <div class="avatar-shadow">
          <img class="avatar" src="./images/photos.jpg">
          <div class="avatar-num">查看全部2张图片</div>
        </div>
      </div>

      <div class="cinema-main clearfix">
        <div class="cinema-brief-container">
          <h3 class="name text-ellipsis">大地影院(万顺店)</h3>
          <div class="address text-ellipsis">沭阳县常州路万顺帝景天成7#A401号</div>
          <div class="telphone">电话：0527-89980529</div>

          <div class="features-group">
            <div class="group-title">影院服务</div>

            <div class="feature">
              <span class="tag ">3D眼镜</span>
              <p class="desc text-ellipsis" title="免费提供成人3D眼镜、儿童版3D眼镜以及近视夹片3D眼镜">免费提供成人3D眼镜、儿童版3D眼镜以及近视夹片3D眼镜</p>
            </div>
            <div class="feature">
              <span class="tag ">儿童优惠</span>
              <p class="desc text-ellipsis" title="1.3米（不含）以下儿童免票无座，需由1名成人陪同（特效厅除外）">1.3米（不含）以下儿童免票无座，需由1名成人陪同（特效厅除外）
              </p>
            </div>
            <div class="feature">
              <span class="tag park-tag">可停车</span>
              <p class="desc text-ellipsis" title="免费提供，车位多多">免费提供，车位多多</p>
            </div>
          </div>
        </div>
      </div>

      <div class="cinema-map">
        <span class="show-map">
          <div class="cinema-map">
            <span class="show-map">
              <div class="lan">
                <h1>网点查询</h1>
                <input id="keyword" type="textbox" value="大地影院(万顺店)">
                <i></i>
                <input type="button" value="查询" onclick="searchKeyword()">
                <!-- 内容 -->
                <div id="infoDiv"></div>
              </div>

              <div id="container"></div>
            </span>
          </div>
      </div>
    </div>
    </span>
  </div>
  </div>
  </div>

  <!-- 观影信息开始 -->
  <div class="container" id="app" class="page-cinemas/cinema">
    <div class="movie-list-container">
      <div class="movie-list">
        <div class="movie active">
          <img src="../public/images/moviechoose/pikaququ.jpg" alt="">
        </div class="movie active">
        <div class="movie">
          <img src="../public/images/moviechoose/fuchouzhezhe.jpg" alt="">
        </div>
        <div class="movie">
          <img src="../public/images/moviechoose/heyiweijia.jpg" alt="">
        </div>
        <div class="movie">
          <img src="../public/images/moviechoose/gelasi.png" alt="">
        </div>
        <div class="movie">
          <img src="../public/images/moviechoose/mothers.jpg" alt="">
        </div>
        <div class="movie">
          <img src="../public/images/moviechoose/qianrenren.jpg" alt="">
        </div>
        <div movie="movie">
          <img src="../public/images/moviechoose/haididi.jpg" alt="">
        </div>
        <div class="movie">
          <img src="../public/images/moviechoose/dogs.jpg" alt="">
        </div>
        <div class="movie">
          <img src="../public/images/moviechoose/shuangsheng.jpg" alt="">
        </div>
        <div class="movie">
          <img src="../public/images/moviechoose/longzhu.jpg" alt="">
        </div>

        <span class="pointer"></span>
      </div>

      <span class="scroll-prev scroll-btn"></span>
      <span class="scroll-next scroll-btn"></span>
    </div>

    <div class="show-list active">
      <div class="movie-info">
        <div>
          <h3 class="movie-name">大侦探皮卡丘</h3>

          <span class="score sc">8.6</span>

        </div>

        <div class="movie-desc">
          <div>
            <span class="key">时长 :</span>
            <span class="value">104分钟</span>
          </div>
          <div>
            <span class="key">类型 :</span>
            <span class="value"> 冒险 </span>
          </div>
          <div>
            <span class="key">主演 :</span>
            <span class="value"> 瑞安·雷诺兹</span>
          </div>
        </div>
      </div>

      <!-- 電影信息 -->
      <div class="show-date">
        <span>观影时间 :</span>
        <span class="date-item active">今天 5月14</span>
        <span class="date-item ">明天 5月15</span>
        <span class="date-item ">后天 5月16</span>
      </div>

      <div class="plist-container active">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">15:00</span>
                <br />
                <span class="end-time">16:44散场</span>
              </td>
              <td>
                <span class="lang">国语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price">28.9<span class="stonefont"></span></span>
              </td>
              <td>
                <a href="/ticketselection-ZJ" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">16:00</span>
                <br />
                <span class="end-time">17:44散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">5号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price">28.9<span class="stonefont"></span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">17:00</span>
                <br />
                <span class="end-time">18:44散场</span>
              </td>
              <td>
                <span class="lang">国语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price">28.9<span class="stonefont"></span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">19:00</span>
                <br />
                <span class="end-time">20:44散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price">28.9<span class="stonefont"></span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">21:00</span>
                <br />
                <span class="end-time">22:44散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price">28.9<span class="stonefont"></span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">21:50</span>
                <br />
                <span class="end-time">23:34散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price">28.9<span class="stonefont"></span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">13:00</span>
                <br />
                <span class="end-time">14:44散场</span>
              </td>
              <td>
                <span class="lang">国语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price">28.9<span class="stonefont"></span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">15:00</span>
                <br />
                <span class="end-time">16:44散场</span>
              </td>
              <td>
                <span class="lang">国语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price">28.9<span class="stonefont"></span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">15:55</span>
                <br />
                <span class="end-time">17:39散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">5号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">17:00</span>
                <br />
                <span class="end-time">18:44散场</span>
              </td>
              <td>
                <span class="lang">国语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">19:00</span>
                <br />
                <span class="end-time">20:44散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">21:00</span>
                <br />
                <span class="end-time">22:44散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">21:50</span>
                <br />
                <span class="end-time">23:34散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 346629, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">13:00</span>
                <br />
                <span class="end-time">14:44散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 346629, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">15:00</span>
                <br />
                <span class="end-time">16:44散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 346629, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">17:00</span>
                <br />
                <span class="end-time">18:44散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 346629, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">19:00</span>
                <br />
                <span class="end-time">20:44散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 346629, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">21:00</span>
                <br />
                <span class="end-time">22:44散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 346629, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
    <div class="show-list " data-index="1">
      <div class="movie-info">
        <div>
          <h3 class="movie-name">复仇者联盟4：终局之战</h3>

          <span class="score sc">9.1</span>

        </div>

        <div class="movie-desc">
          <div>
            <span class="key">时长 :</span>
            <span class="value">181分钟</span>
          </div>
          <div>
            <span class="key">类型 :</span>
            <span class="value"> 动作 </span>
          </div>
          <div>
            <span class="key">主演 :</span>
            <span class="value"> 小罗伯特·唐尼</span>
          </div>
        </div>
      </div>

      <div class="show-date">
        <span>观影时间 :</span>
        <span class="date-item active" data-index="0">今天 5月14</span>
        <span class="date-item " data-index="1">明天 5月15</span>
        <span class="date-item " data-index="2">后天 5月16</span>
      </div>

      <div class="plist-container active">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">16:00</span>
                <br />
                <span class="end-time">19:01散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">3号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">17:00</span>
                <br />
                <span class="end-time">20:01散场</span>
              </td>
              <td>
                <span class="lang">原版3D</span>
              </td>
              <td>
                <span class="hall">4号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">19:20</span>
                <br />
                <span class="end-time">22:21散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">3号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">20:20</span>
                <br />
                <span class="end-time">23:21散场</span>
              </td>
              <td>
                <span class="lang">原版3D</span>
              </td>
              <td>
                <span class="hall">4号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">12:40</span>
                <br />
                <span class="end-time">15:41散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">3号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">16:00</span>
                <br />
                <span class="end-time">19:01散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">3号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">17:00</span>
                <br />
                <span class="end-time">20:01散场</span>
              </td>
              <td>
                <span class="lang">原版3D</span>
              </td>
              <td>
                <span class="hall">4号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                  data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">19:20</span>
                <br />
                <span class="end-time">22:21散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">3号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135658?movieId=248172&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">20:20</span>
                <br />
                <span class="end-time">23:21散场</span>
              </td>
              <td>
                <span class="lang">原版3D</span>
              </td>
              <td>
                <span class="hall">4号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135660?movieId=248172&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">16:40</span>
                <br />
                <span class="end-time">19:41散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">5号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905160066539?movieId=248172&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">20:00</span>
                <br />
                <span class="end-time">23:01散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">5号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905160066540?movieId=248172&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 248172, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
    <div class="show-list " data-index="2">
      <div class="movie-info">
        <div>
          <h3 class="movie-name">何以为家</h3>

          <span class="score sc">9.3</span>

        </div>

        <div class="movie-desc">
          <div>
            <span class="key">时长 :</span>
            <span class="value">116分钟</span>
          </div>
          <div>
            <span class="key">类型 :</span>
            <span class="value"> 剧情 </span>
          </div>
          <div>
            <span class="key">主演 :</span>
            <span class="value"> 赞恩·阿尔·拉菲亚</span>
          </div>
        </div>
      </div>

      <div class="show-date">
        <span>观影时间 :</span>
        <span class="date-item active" data-index="0">今天 5月14</span>
        <span class="date-item " data-index="1">明天 5月15</span>
        <span class="date-item " data-index="2">后天 5月16</span>
      </div>

      <div class="plist-container active">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">15:10</span>
                <br />
                <span class="end-time">17:06散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905140132335?movieId=1218727&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1218727, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">17:25</span>
                <br />
                <span class="end-time">19:21散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905140132336?movieId=1218727&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1218727, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">19:40</span>
                <br />
                <span class="end-time">21:36散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905140132337?movieId=1218727&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1218727, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">12:55</span>
                <br />
                <span class="end-time">14:51散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135656?movieId=1218727&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1218727, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">15:10</span>
                <br />
                <span class="end-time">17:06散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135653?movieId=1218727&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1218727, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">17:25</span>
                <br />
                <span class="end-time">19:21散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135654?movieId=1218727&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1218727, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">19:40</span>
                <br />
                <span class="end-time">21:36散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135655?movieId=1218727&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1218727, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">15:10</span>
                <br />
                <span class="end-time">17:06散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">3号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905160066537?movieId=1218727&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1218727, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">17:25</span>
                <br />
                <span class="end-time">19:21散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">3号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905160066538?movieId=1218727&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1218727, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">19:40</span>
                <br />
                <span class="end-time">21:36散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">3号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905160066536?movieId=1218727&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1218727, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
    <div class="show-list " data-index="3">
      <div class="movie-info">
        <div>
          <h3 class="movie-name">哥斯拉2：怪兽之王</h3>

          <span class="score wish">205044</span>
        </div>

        <div class="movie-desc">
          <div>
            <span class="key">时长 :</span>
            <span class="value">132分钟</span>
          </div>
          <div>
            <span class="key">类型 :</span>
            <span class="value"> 科幻 </span>
          </div>
          <div>
            <span class="key">主演 :</span>
            <span class="value"> 米莉·波比·布朗</span>
          </div>
        </div>
      </div>

      <div class="show-date">
        <span>观影时间 :</span>
        <span class="date-item active" data-index="0">周五 5月31</span>
        <span class="date-item " data-index="1">周六 6月1</span>
        <span class="date-item " data-index="2">周日 6月2</span>
      </div>

      <div class="plist-container active">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">12:25</span>
                <br />
                <span class="end-time">14:37散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905310019726?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">14:50</span>
                <br />
                <span class="end-time">17:02散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905310019727?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">17:15</span>
                <br />
                <span class="end-time">19:27散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905310019724?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">19:40</span>
                <br />
                <span class="end-time">21:52散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905310019725?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">12:25</span>
                <br />
                <span class="end-time">14:37散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201906010009492?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">14:50</span>
                <br />
                <span class="end-time">17:02散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201906010009493?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">17:15</span>
                <br />
                <span class="end-time">19:27散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201906010009494?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">19:40</span>
                <br />
                <span class="end-time">21:52散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201906010009495?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">12:25</span>
                <br />
                <span class="end-time">14:37散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201906020008292?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">14:50</span>
                <br />
                <span class="end-time">17:02散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201906020008293?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">17:15</span>
                <br />
                <span class="end-time">19:27散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201906020008294?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">19:40</span>
                <br />
                <span class="end-time">21:52散场</span>
              </td>
              <td>
                <span class="lang">英语3D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201906020008295?movieId=246061&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 246061, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
    <div class="show-list " data-index="4">
      <div class="movie-info">
        <div>
          <h3 class="movie-name">一个母亲的复仇</h3>

          <span class="score sc">9.3</span>

        </div>

        <div class="movie-desc">
          <div>
            <span class="key">时长 :</span>
            <span class="value">146分钟</span>
          </div>
          <div>
            <span class="key">类型 :</span>
            <span class="value"> 剧情 </span>
          </div>
          <div>
            <span class="key">主演 :</span>
            <span class="value"> 希里黛玉,阿克夏耶·坎纳</span>
          </div>
        </div>
      </div>

      <div class="show-date">
        <span>观影时间 :</span>
        <span class="date-item active" data-index="0">今天 5月14</span>
        <span class="date-item " data-index="1">明天 5月15</span>
        <span class="date-item " data-index="2">后天 5月16</span>
      </div>

      <div class="plist-container active">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">18:00</span>
                <br />
                <span class="end-time">20:26散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">5号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905140132344?movieId=883196&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 883196, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">20:40</span>
                <br />
                <span class="end-time">23:06散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">5号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xf859;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905140132345?movieId=883196&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 883196, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">13:10</span>
                <br />
                <span class="end-time">15:36散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">5号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135664?movieId=883196&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 883196, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">14:15</span>
                <br />
                <span class="end-time">16:41散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">4号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135665?movieId=883196&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 883196, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="">
              <td>
                <span class="begin-time">17:55</span>
                <br />
                <span class="end-time">20:21散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">5号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135662?movieId=883196&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 883196, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
            <tr class="even">
              <td>
                <span class="begin-time">20:40</span>
                <br />
                <span class="end-time">23:06散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">5号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135663?movieId=883196&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 883196, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">20:40</span>
                <br />
                <span class="end-time">23:06散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">4号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905160066541?movieId=883196&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 883196, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
    <div class="show-list " data-index="5">
      <div class="movie-info">
        <div>
          <h3 class="movie-name">下一任：前任</h3>

          <span class="score sc">4.3</span>

        </div>

        <div class="movie-desc">
          <div>
            <span class="key">时长 :</span>
            <span class="value">99分钟</span>
          </div>
          <div>
            <span class="key">类型 :</span>
            <span class="value"> 爱情 </span>
          </div>
          <div>
            <span class="key">主演 :</span>
            <span class="value"> 郭采洁,郑恺,李东学</span>
          </div>
        </div>
      </div>

      <div class="show-date">
        <span>观影时间 :</span>
        <span class="date-item active" data-index="0">今天 5月14</span>
        <span class="date-item " data-index="1">明天 5月15</span>
      </div>

      <div class="plist-container active">
        <div class="finished-all-shows">
          <span class="finish-img"></span>
          <br />
          <span class="finish-text">当日场次已放映完</span>
        </div>
      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">12:20</span>
                <br />
                <span class="end-time">13:59散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">4号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905150135652?movieId=1228776&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1228776, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
    <div class="show-list " data-index="6">
      <div class="movie-info">
        <div>
          <h3 class="movie-name">海蒂和爷爷</h3>

          <span class="score wish">15085</span>
        </div>

        <div class="movie-desc">
          <div>
            <span class="key">时长 :</span>
            <span class="value">111分钟</span>
          </div>
          <div>
            <span class="key">类型 :</span>
            <span class="value"> 剧情 </span>
          </div>
          <div>
            <span class="key">主演 :</span>
            <span class="value"> 阿努克·斯特芬</span>
          </div>
        </div>
      </div>

      <div class="show-date">
        <span>观影时间 :</span>
        <span class="date-item active" data-index="0">后天 5月16</span>
      </div>

      <div class="plist-container active">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">18:05</span>
                <br />
                <span class="end-time">19:56散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xf859;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905160001572?movieId=337625&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 337625, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
    <div class="show-list " data-index="7">
      <div class="movie-info">
        <div>
          <h3 class="movie-name">一条狗的使命2</h3>

          <span class="score wish">28343</span>
        </div>

        <div class="movie-desc">
          <div>
            <span class="key">时长 :</span>
            <span class="value">108分钟</span>
          </div>
          <div>
            <span class="key">类型 :</span>
            <span class="value"> 剧情 </span>
          </div>
          <div>
            <span class="key">主演 :</span>
            <span class="value"> 乔什·加德,丹尼斯·奎德</span>
          </div>
        </div>
      </div>

      <div class="show-date">
        <span>观影时间 :</span>
        <span class="date-item active" data-index="0">周五 5月17</span>
        <span class="date-item " data-index="1">周六 5月18</span>
        <span class="date-item " data-index="2">周日 5月19</span>
      </div>

      <div class="plist-container active">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">17:20</span>
                <br />
                <span class="end-time">19:08散场</span>
              </td>
              <td>
                <span class="lang">英语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905170006634?movieId=1254277&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1254277, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">17:20</span>
                <br />
                <span class="end-time">19:08散场</span>
              </td>
              <td>
                <span class="lang">英语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905180007657?movieId=1254277&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1254277, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="plist-container ">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">17:20</span>
                <br />
                <span class="end-time">19:08散场</span>
              </td>
              <td>
                <span class="lang">英语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905190001254?movieId=1254277&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1254277, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
    <div class="show-list " data-index="8">
      <div class="movie-info">
        <div>
          <h3 class="movie-name">双生</h3>

          <span class="score wish">158355</span>
        </div>

        <div class="movie-desc">
          <div>
            <span class="key">时长 :</span>
            <span class="value">82分钟</span>
          </div>
          <div>
            <span class="key">类型 :</span>
            <span class="value"> 悬疑 </span>
          </div>
          <div>
            <span class="key">主演 :</span>
            <span class="value"> 陈都灵,刘昊然,赵芮</span>
          </div>
        </div>
      </div>

      <div class="show-date">
        <span>观影时间 :</span>
        <span class="date-item active" data-index="0">周六 5月18</span>
      </div>

      <div class="plist-container active">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">09:40</span>
                <br />
                <span class="end-time">11:02散场</span>
              </td>
              <td>
                <span class="lang">国语2D</span>
              </td>
              <td>
                <span class="hall">1号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905180004395?movieId=345621&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 345621, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
    <div class="show-list " data-index="9">
      <div class="movie-info">
        <div>
          <h3 class="movie-name">龙珠超：布罗利</h3>

          <span class="score wish">44301</span>
        </div>

        <div class="movie-desc">
          <div>
            <span class="key">时长 :</span>
            <span class="value">100分钟</span>
          </div>
          <div>
            <span class="key">类型 :</span>
            <span class="value"> 动画 </span>
          </div>
          <div>
            <span class="key">主演 :</span>
            <span class="value"> 野泽雅子,堀川亮,中尾隆圣</span>
          </div>
        </div>
      </div>

      <div class="show-date">
        <span>观影时间 :</span>
        <span class="date-item active" data-index="0">周五 5月24</span>
      </div>

      <div class="plist-container active">

        <table class="plist">
          <thead>
            <tr>
              <th>放映时间</th>
              <th>语言版本</th>
              <th>放映厅</th>
              <th>售价（元）</th>
              <th>选座购票</th>
            </tr>
          </thead>

          <tbody>
            <tr class="">
              <td>
                <span class="begin-time">17:25</span>
                <br />
                <span class="end-time">19:05散场</span>
              </td>
              <td>
                <span class="lang">日语2D</span>
              </td>
              <td>
                <span class="hall">2号厅(激光)</span>
              </td>
              <td>
                <span class="sell-price"><span class="stonefont">&#xe3f0;&#xe671;.&#xee2f;</span></span>
              </td>
              <td>
                <a href="/xseats/201905240007584?movieId=1219454&cinemaId=11218" class="buy-btn normal" data-tip=""
                  data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1219454, cinema_id:11218}">选座购票</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>


    <div class="big-map-modal" style="display: none">
      <div class="close-map"></div>
      <div class="big-map"></div>
    </div>
  </div>
  <!-- 观影信息结束 -->

  <!-- 底部信息栏开始 -->
  <div class="footer">
    <div>
      <p class="friendly-links">
        关于猫眼 :
        <a>关于我们</a>
        <span></span>
        <a>管理团队</a>
        <span></span>
        <a>投资者关系</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        友情链接 :
        <a>美团网</a>
        <span></span>
        <a>格瓦拉</a>
        <span></span>
        <a>美团下载</a>
        <span></span>
        <a>欢喜首映</a>
      </p>
      <p class="friendly-links">
        商务合作邮箱：v@maoyan.com
        客服电话：10105335
        违法和不良信息举报电话：4006018900
        <br />
        投诉举报邮箱：tousujubao@meituan.com
        舞弊线索举报邮箱：wubijubao@maoyan.com
      </p>
      <p>
        &copy;2016
        猫眼电影 maoyan.com
        <abbr>京ICP证160733号</a>
          <a>京ICP备16022489号-1</a>
          <a>京公网安备 11010102003232号</a>
          <a>营许可证</a>
          <a>电子公告服务规则</a>
      </p>
      <p>北京猫眼文化传媒有限公司</p>
    </div>
  </div>
  <!-- 底部信息栏结束 -->
  <!-- 底部信息栏结束 -->
  <script src="./lib/jquery/dist/jquery.js"></script>
  <script src="./lib/art-template/lib/template-web.js"></script>
  <script src="./js/map.js"></script>
  <script src="./js/filmchooserender.js"></script>
  <%-include('./template/choose-film.ejs') %>
  <%-include('./template/choose-massage.ejs') %>
  <%-include('./template/choose-times.ejs') %>
  <%-include('./template/filmchoose_template.ejs') %>
</body>

</html>