<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>正在热映-猫眼电影-一网打尽好电影</title>
  <!-- 清除浏览器默认样式 -->
  <link rel="stylesheet" href="./css/reset.css">
  <!-- css样式 -->
  <link rel="stylesheet" href="./css/film.css">
</head>

<body>
  <!-- 顶部导航 -->
  <div class="dh">
    <div class="dh_con">
        <%- include('./layouts/heady.ejs')%>
        <div class="nav">
            <ul class="nav-ul">
                <li><a href="">首页</a></li>
                <li class="ys"><a href="">电影</a></li>
                <li><a href="">影院</a></li>
                <li><a href="">演出</a></li>
                <li><a href="">榜单</a></li>
                <li><a href="">热点</a></li>
                <li><a href="/shopping">商城</a></li>
            </ul>
        </div>
        <%- include('./layouts/header.ejs')%>
     
    </div>
</div>


  <!-- 电影分类 -->
  <div class="film-classify">
    <!-- 公共宽度 -->
    <div class="common">
      <ul class="film-classify-three">
        <li>
          <a href="./film" class="film-classify-being active">正在热映</a>
        </li>
        <li>
          <a href="./filmabout" class="hv">
            即将上映
          </a>
        </li>
        <li>
          <a href="./filmClassics" class="hv">
            经典影片
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- 电影类型选择 -->
  <div class="channel">
    <div class="common">
      <!-- 按钮 -->
      <div class="channel-btn">
        <!-- 类型 -->
        <div class="channel-btn-type">
          <div>类型：</div>
          <ul class="channel-btn-one btn-o">
            <li>
              <a href="javascript:;" class="active btn-qb">
                全部
              </a>
            </li>
            <li>
              <a href="javascript:;">
                爱情
              </a>
            </li>
            <li>
              <a href="javascript:;">
                喜剧
              </a>
            </li>
            <li>
              <a href="javascript:;">
                动画
              </a>
            </li>
            <li>
              <a href="javascript:;">
                剧情
              </a>
            </li>
            <li>
              <a href="javascript:;">
                恐怖
              </a>
            </li>
            <li>
              <a href="javascript:;">
                惊悚
              </a>
            </li>
            <li>
              <a href="javascript:;">
                科幻
              </a>
            </li>
            <li>
              <a href="javascript:;">
                动作
              </a>
            </li>

            <li>
              <a href="javascript:;">
                悬疑
              </a>
            </li>

            <li>
              <a href="javascript:;">
                犯罪
              </a>
            </li>
            <li>
              <a href="javascript:;">
                冒险
              </a>
            </li>
            <li>
              <a href="javascript:;">
                战争
              </a>
            </li>
            <li>
              <a href="javascript:;">
                奇幻
              </a>
            </li>
            <li>
              <a href="javascript:;">
                运动
              </a>
            </li>
            <li>
              <a href="javascript:;">
                家庭
              </a>
            </li>
            <li>
              <a href="javascript:;">
                古装
              </a>
            </li>
            <li>
              <a href="javascript:;">
                武装
              </a>
            </li>
            <li>
              <a href="javascript:;">
                西部
              </a>
            </li>
            <li>
              <a href="javascript:;">
                历史
              </a>
            </li>
            <li>
              <a href="javascript:;">
                传记
              </a>
            </li>
            <li>
              <a href="javascript:;">
                歌舞
              </a>
            </li>
            <li>
              <a href="javascript:;">
                黑色电影
              </a>
            </li>
            <li>
              <a href="javascript:;">
                短片
              </a>
            </li>
            <li>
              <a href="javascript:;">
                纪录片
              </a>
            </li>
            <li>
              <a href="javascript:;">
                其他
              </a>
            </li>
          </ul>
        </div>

        <!-- 区域 -->
        <div class="channel-btn-type">
          <div>区域：</div>
          <ul class="channel-btn-one btn-t">
            <!-- <li>
              <a href="javascript:;" class="active">
                全部
              </a>
            </li>
            <li>
              <a href="javascript:;">
                大陆
              </a>
            </li>
            <li>
              <a href="javascript:;">
                美国
              </a>
            </li>
            <li>
              <a href="javascript:;">
                韩国
              </a>
            </li>
            <li>
              <a href="javascript:;">
                日本
              </a>
            </li>
            <li>
              <a href="javascript:;">
                中国香港
              </a>
            </li>
            <li>
              <a href="javascript:;">
                中国台湾
              </a>
            </li>
            <li>
              <a href="javascript:;">
                泰国
              </a>
            </li>
            <li>
              <a href="javascript:;">
                印度
              </a>
            </li>

            <li>
              <a href="javascript:;">
                法国
              </a>
            </li>

            <li>
              <a href="javascript:;">
                英国
              </a>
            </li>
            <li>
              <a href="javascript:;">
                俄罗斯
              </a>
            </li>
            <li>
              <a href="javascript:;">
                意大利
              </a>
            </li>
            <li>
              <a href="javascript:;">
                西班牙
              </a>
            </li>
            <li>
              <a href="javascript:;">
                德国
              </a>
            </li>
            <li>
              <a href="javascript:;">
                波兰
              </a>
            </li>
            <li>
              <a href="javascript:;">
                澳大利亚
              </a>
            </li>
            <li>
              <a href="javascript:;">
                伊朗
              </a>
            </li>
            <li>
              <a href="javascript:;">
                其他
              </a>
            </li> -->
          </ul>
        </div>

        <!-- 年代 -->
        <div class="channel-btn-type">
          <div>年代：</div>
          <ul class="channel-btn-one btn-e">
            <li>
              <a href="javascript:;" class="active">
                全部
              </a>
            </li>
            <li>
              <a href="javascript:;">
                2019以后
              </a>
            </li>
            <li>
              <a href="javascript:;">
                2019
              </a>
            </li>
            <li>
              <a href="javascript:;">
                2019
              </a>
            </li>
            <li>
              <a href="javascript:;">
                2018
              </a>
            </li>
            <li>
              <a href="javascript:;">
                2017
              </a>
            </li>
            <li>
              <a href="javascript:;">
                2016
              </a>
            </li>
            <li>
              <a href="javascript:;">
                2015
              </a>
            </li>
            <li>
              <a href="javascript:;">
                2014
              </a>
            </li>
            <li>
              <a href="javascript:;">
                2013
              </a>
            </li>

            <li>
              <a href="javascript:;">
                2012
              </a>
            </li>

            <li>
              <a href="javascript:;">
                2011
              </a>
            </li>
            <li>
              <a href="javascript:;">
                2000-2010
              </a>
            </li>
            <li>
              <a href="javascript:;">
                90年代
              </a>
            </li>
            <li>
              <a href="javascript:;">
                80年代
              </a>
            </li>
            <li>
              <a href="javascript:;">
                70年代
              </a>
            </li>
            <li>
              <a href="javascript:;">
                更早
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- 按钮点击的内容显示 -->
      <div class="film-panel">
        <!-- 按钮排序 -->
        <div class="film-panel-sort">
          <ul class="film-panel-sort-ul">
            <li>
              <span>
                <span class="film-panel-sort-btn btn-rm"></span>
                <span class="film-panel-sort-wz">按热门排序</span>
              </span>
            </li>
            <li>
              <span>
                <span class="film-panel-sort-btn btn-sj"></span>
                <span class="film-panel-sort-wz">按时间排序</span>
              </span>
            </li>
            <li>
              <!-- <span>
                <span class="film-panel-sort-btn"></span>
                <span class="film-panel-sort-wz">按评价排序</span>
              </span> -->
            </li>
          </ul>
        </div>

        <!-- 搜索结果的影片 -->
        <div class="film-panel-content">
          <!-- <div>抱歉,没有找到相关结果,请尝试用其他条件</div> -->
        </div>
      </div>

      <div class="film-panel-content">
        <dl class="movie-list">

        </dl>
      </div>
    </div>
  </div>

  <!-- 底部 -->
  <div class="db">
    <div class="footer" style="visibility: visible;">
      <p class="friendly-links">
        关于猫眼 :
        <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
        <span></span>
        <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
        <span></span>
        <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        友情链接 :
        <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
        <span></span>
        <a href="http://www.gewara.com" data-query="utm_source=wwwmaoyan">格瓦拉</a>
        <span></span>
        <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
        <span></span>
        <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
      </p>
      <p class="friendly-links">
        商务合作邮箱：v@maoyan.com
        客服电话：10105335
        违法和不良信息举报电话：4006018900
        <br>
        投诉举报邮箱：tousujubao@meituan.com
        舞弊线索举报邮箱：wubijubao@maoyan.com
      </p>
      <p>
        ©2016
        猫眼电影 maoyan.com
        <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&amp;keyword=京ICP证160733号&amp;pageNo=1"
          target="_blank">京ICP证160733号</a>
        <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备16022489号-1</a>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232" target="_blank">京公网安备
          11010102003232号</a>
        <a href="/about/licence" target="_blank">网络文化经营许可证</a>
        <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
      </p>
      <p>北京猫眼文化传媒有限公司</p>
    </div>
  </div>
  <!-- 底部结束 -->

  <!-- 引入jquery-->
  <script src="./lib/jquery/dist/jquery.js"></script>
  <script src="./lib/art-template/lib/template-web.js"></script>
  <script src="./js/film.js"></script>
  <%-include('./template/film.ejs') %>
  <%-include('./template/navtemplate.ejs') %>
  <%-include('./template/areaTemplate.ejs') %>
  <%-include('./template/yearTemplate.ejs') %>
</body>

</html>